<h4>Personajes</h4>
<ol class="list-group">
  <li *ngFor="
    let character of charcaterList;
    let idx = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd= odd;" class="list-group-item d-flex justify-content-between" [ngClass]="{
      'list-group-item-primary': isEven,
      'list-group-item-dark': isLast
    }">
    <div>
      <span> {{idx+1}}.- </span>
      <span>{{character.name}} - </span>
      <strong>Power: </strong>
      <span>{{character.power}}</span>
    </div>

    <button (click)="deleteCharacterByID(character.id!)" class="btn btn-danger"> X </button>
  </li>
</ol>
